/.gradle/
/.idea/
/.kotlin/
/build/
/captures/
/local.properties
/signing.jks
/signing.properties
/gettodev.jks
../signing.properties
../gettodev.jks
.DS_Store
*.iml
*.apk
google-services.json
.venv/
scratch/
scratch_aar/
apk_extract/
